{{template "base" .}}
{{define "collections"}}

<div class="container" id="collections-container">
    <p>
        Vodovodné kohútiky v domácnostiach niektorých obyvateľov Ružomberka ostanú uprostred tohto týždňa suché.
        Samospráva totiž v príspevku na sociálnej sieti informovala o poruche, ktorá spôsobí nútenú odstávku pitnej
        vody.
    </p>
    <p>
        Dodávka vody bude prerušená vo štvrtok 13. júla od 7:00 hod. ráno na uliciach Námestie Andreja Hlinku a Jelence.
        V prvom prípade sa odstávka dotkne celej ulice, v druhom len čísel vchodov od 1 do 22. Dôvodom nepríjemností je
        porucha na vodovodnom potrubí.
    </p>
    <p>
        Vodovodné kohútiky v domácnostiach niektorých obyvateľov Ružomberka ostanú uprostred tohto týždňa suché.
        Samospráva totiž v príspevku na sociálnej sieti informovala o poruche, ktorá spôsobí nútenú odstávku pitnej
        vody.
    </p>
    <p>
        Dodávka vody bude prerušená vo štvrtok 13. júla od 7:00 hod. ráno na uliciach Námestie Andreja Hlinku a Jelence.
        V prvom prípade sa odstávka dotkne celej ulice, v druhom len čísel vchodov od 1 do 22. Dôvodom nepríjemností je
        porucha na vodovodnom potrubí.
    </p>
    <p>
        Vodovodné kohútiky v domácnostiach niektorých obyvateľov Ružomberka ostanú uprostred tohto týždňa suché.
        Samospráva totiž v príspevku na sociálnej sieti informovala o poruche, ktorá spôsobí nútenú odstávku pitnej
        vody.
    </p>
    <p>
        Dodávka vody bude prerušená vo štvrtok 13. júla od 7:00 hod. ráno na uliciach Námestie Andreja Hlinku a Jelence.
        V prvom prípade sa odstávka dotkne celej ulice, v druhom len čísel vchodov od 1 do 22. Dôvodom nepríjemností je
        porucha na vodovodnom potrubí.
    </p>
    <p>
        Vodovodné kohútiky v domácnostiach niektorých obyvateľov Ružomberka ostanú uprostred tohto týždňa suché.
        Samospráva totiž v príspevku na sociálnej sieti informovala o poruche, ktorá spôsobí nútenú odstávku pitnej
        vody.
    </p>
    <p>
        Dodávka vody bude prerušená vo štvrtok 13. júla od 7:00 hod. ráno na uliciach Námestie Andreja Hlinku a Jelence.
        V prvom prípade sa odstávka dotkne celej ulice, v druhom len čísel vchodov od 1 do 22. Dôvodom nepríjemností je
        porucha na vodovodnom potrubí.
    </p>
    <p>
        Vodovodné kohútiky v domácnostiach niektorých obyvateľov Ružomberka ostanú uprostred tohto týždňa suché.
        Samospráva totiž v príspevku na sociálnej sieti informovala o poruche, ktorá spôsobí nútenú odstávku pitnej
        vody.
    </p>
    <p>
        Dodávka vody bude prerušená vo štvrtok 13. júla od 7:00 hod. ráno na uliciach Námestie Andreja Hlinku a Jelence.
        V prvom prípade sa odstávka dotkne celej ulice, v druhom len čísel vchodov od 1 do 22. Dôvodom nepríjemností je
        porucha na vodovodnom potrubí.
    </p>
</div>

{{end}}