{{template "base" .}}
{{define "files"}}

<div class="container">
    <form class="row g-2" method="POST" enctype="multipart/form-data" action="/api/v1/resources/upload">
        <input type="hidden" name="csrf" value="{{.}}" />
        <div class="col-auto">
            <input class="form-control" type="file" name="file" id="formFile">
        </div>
        <div class="col-auto">
            <input class="btn btn-primary" type="submit" value="Upload">
        </div>
        <div style="margin:auto">
            <ui5-button design="Emphasized" id="submit-btn" value="Upload">Upload</ui5-button>
        </div>
    </form>
    <table id="files-table" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th></th>
                <th>Name</th>
                <th>Size</th>
            </tr>
        </thead>
    </table>
</div>

{{end}}