{{template "base" .}}
{{define "files"}}

<div class="container" style="height: fit-content!important;">
    <form class="row g-2" method="POST" enctype="multipart/form-data"
        action="/api/v1/resources/upload">
        <input type="hidden" name="csrf" value="{{.}}" />
        <div class="col-auto">
            <input class="form-control" type="file" name="file" id="formFile">
        </div>
        <div class="col-auto">
            <input class="btn btn-primary" type="submit" value="Upload">
        </div>
        <div style="margin:auto">
            <ui5-button design="Emphasized" id="submit-btn" value="Upload">Upload</ui5-button>
        </div>
    </form>
    <table id="table" data-toggle="table" data-show-refresh="true" data-url="/api/v1/resources"
        data-search="true" data-side-pagination="server" data-pagination="true">
        <thead>
            <tr>
                <th data-field="name">Name</th>
                <th data-field="size">Size</th>
            </tr>
        </thead>
    </table>
</div>

{{end}}
