{{define "base"}}
<html lang="en">

<head>
  <title>Cargomail Lite</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Favicon -->
  <link rel='icon' type='image/x-icon' href='/public/images/favicon.ico'>

  <!-- Icons -->
  <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' rel='stylesheet'>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <!-- Bootstrap Table CSS -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">

  <!-- Custom styles -->
  <link href='/public/css/styles.css' rel='stylesheet'>
</head>

<body>
  <div class="container-fluid">
    {{template "page" .}}
  </div>
</body>

</html>
{{end}}