{{template "base" .}}
{{define "page"}}

<div style="width: 100%">
    <!-- https://stackoverflow.com/questions/48472771/bootstrap-responsive-sidebar-menu-to-top-navbar/48477019#48477019 -->
    <div class="responsive-menu row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-primary d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/compose" id="compose-link" class="nav-link my-2 px-sm-0 px-2"
                            onclick='composeContent();return false;'>
                            <i class="bi bi-postcard h3"></i><span class="ms-1 fs-5 d-none d-sm-inline">Compose</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="/" id="cargoes-link" class="nav-link px-sm-0 px-2"
                            onclick='cargoesContent();return false;'>
                            <i class="bi bi-grid-1x2 h5"></i><span class="ms-1 d-none d-sm-inline">Cargoes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/files" id="files-link" class="nav-link px-sm-0 px-2"
                            onclick='filesContent();return false;'>
                            <i class="bi bi-file-earmark-diff h4"></i><span
                                class="ms-1 d-none d-sm-inline">Files</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="nav-link d-flex align-items-center text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="rounded-circle border d-flex justify-content-center align-items-center"
                            style="width:28px;height:28px" alt="Avatar">
                            {{.UsernameLetter}}
                        </div>
                        <span class="d-none d-sm-inline mx-1">{{.Username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto h-100">
                <div class="col pt-4" style="height: 0vh!important; max-height: 0vh!important;">
                    <div hidden class="container" id="compose-container">
                        {{template "compose" .}}
                    </div>
                    <div hidden class="cargoes" id="cargoes-container">
                        {{template "cargoes" .}}
                    </div>
                    <div hidden class="files" id="files-container">
                        {{template "files" .}}
                    </div>
                </div>
            </main>
            <footer hidden class="row bg-light py-4 mt-auto">
                <div class="col"> Footer content here... </div>
            </footer>
        </div>
    </div>
</div>

<script src='/public/js/index.js'></script>

{{end}}