{{template "base" .}}
{{define "page"}}

<div style="width: 100%">
    <!-- https://stackoverflow.com/questions/48472771/bootstrap-responsive-sidebar-menu-to-top-navbar/48477019#48477019 -->
    <div class="responsive-menu row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-primary d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-1">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/compose" id="composeLink" class="nav-link my-2 px-sm-0 px-2"
                            onclick='composeContent();return false;'>
                            <div class="d-flex d-sm-none d-sm-inline">
                                <i class="bi bi-postcard h2"></i>
                                <span class="ms-2 mt-1 fs-7"><small class="subject-heading"></small></span>
                            </div>
                            <div class="d-none d-sm-inline">
                                <i class="bi bi-postcard h2"></i>
                                <span class="ms-1 fs-5">Compose</span>
                                <br />
                                <span class="fs-7"><small class="subject-heading"></small></span>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto me-2 justify-content-end align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="/" id="cargoesLink" class="nav-link px-sm-0 px-2"
                            onclick='cargoesContent();return false;'>
                            <i class="bi bi-grid-1x2 h5"></i>
                            <span class="ms-1 d-none d-sm-inline">Cargoes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/files" id="filesLink" class="nav-link px-sm-0 px-2"
                            onclick='filesContent();return false;'>
                            <i class="bi bi-file-earmark-diff h4"></i>
                            <span class="ms-1 d-none d-sm-inline">Files</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="nav-link d-flex align-items-center text-decoration-none dropdown-toggle"
                        id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="rounded-circle border d-flex justify-content-center align-items-center"
                            id="loggedUsernameLetter" style="width:28px;height:28px" alt="Avatar">
                        </div>
                        <span class="d-none d-sm-inline mx-1" id="loggedUsername"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser">
                        <li class="dropdown-item">
                            <a id="contactsLink" class="btn px-sm-0 px-2" onclick='contactsContent();return false;'>
                                <i class="bi bi-people h4"></i>
                                <span class="ms-1 d-sm-inline">Contacts</span></a>
                        </li>
                        <li class="dropdown-item">
                            <a id="profileLink" class="btn px-sm-0 px-2" onclick='profileContent();return false;'>
                                <i class="bi bi-person h4"></i>
                                <span class="ms-1 d-sm-inline">Profile</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-item">
                            <a href="/logout" id="contactsLink" class="btn px-sm-0 px-2">
                                <i class="bi bi-box-arrow-right h4"></i>
                                <span class="ms-1 d-sm-inline">Sign out</span></a>
                        </li>
                        <!-- <li><a class="dropdown-item" href="/logout">Sign out</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto h-100">
                <div class="col pt-4" style="height: 0vh!important; max-height: 0vh!important;">
                    <div hidden class="menu-spinner">
                        <div class="spinner-border" role="status">
                        </div>
                    </div>
                    <div hidden class="container" id="composeContainer">
                        {{template "compose" .}}
                    </div>
                    <div hidden class="cargoes" id="cargoesContainer">
                        {{template "cargoes" .}}
                    </div>
                    <div hidden class="files" id="filesContainer">
                        {{template "files" .}}
                    </div>
                    <div hidden class="contacts" id="contactsContainer">
                        {{template "contacts" .}}
                    </div>
                    <div hidden class="profile" id="profileContainer">
                        {{template "profile" .}}
                    </div>
                </div>
            </main>
            <footer class="row bg-light py-2 mt-auto">
                <div hidden class="container" id="composePanel">
                    <div class="d-flex justify-content-evenly">
                        <a class="btn btn-light px-sm-0 px-2">
                            <i class="fs-5 bi-file-earmark-plus"></i>
                            <span class="ms-1 d-none d-sm-inline">New</span>
                        </a>
                        <a class="btn btn-light px-sm-0 px-2">
                            <i class="fs-5 bi-send"></i>
                            <span class="ms-1 d-none d-sm-inline">Send</span></a>
                        <a class="btn btn-light px-sm-0 px-2">
                            <i class="fs-5 bi-trash3"></i>
                            <span class="ms-1 d-none d-sm-inline">Delete</span>
                        </a>
                    </div>
                </div>
                <div hidden class="container" id="cargoesPanel">
                    <div class="d-flex justify-content-evenly">
                        <a class="btn disabled btn-light px-sm-0 px-2" id="copySelectedCargoes">
                            <i class="fs-5 bi-box-arrow-in-up"></i>
                            <span class="ms-1 d-none d-sm-inline">Copy selected to Compose Form</span>
                        </a>
                    </div>
                </div>
                <div hidden class="container" id="filesPanel">
                    <div class="d-flex justify-content-evenly">
                        <a class="btn disabled btn-light px-sm-0 px-2" id="copySelectedFiles" role="button"
                            aria-disabled="true">
                            <i class="fs-5 bi-box-arrow-in-up"></i>
                            <span class="ms-1 d-none d-sm-inline">Copy selected to Compose Form</span>
                        </a>
                    </div>
                </div>
                <div hidden class="container" id="contactsPanel">
                </div>
                <div hidden class="container" id="profilePanel">
                </div>
            </footer>
        </div>
    </div>
</div>

<script src='/public/js/index.js'></script>

{{end}}