{{template "app" .}}
{{define "content"}}

<p class="container d-flex align-items-center justify-content-center">Cargomail Lite</p>
<div class="container">
    <form class="row g-2" method="POST" enctype="multipart/form-data" action="/api/v1/files/upload">
        <input type="hidden" name="csrf" value="{{.}}" />
        <div class="col-auto">
            <input class="form-control" type="file" name="file" id="formFile">
        </div>
        <div class="col-auto">
            <input class="btn btn-primary" type="submit" value="Upload">
        </div>
        <div style="margin:auto">
            <ui5-button design="Emphasized" id="submit-btn" value="Upload">Upload</ui5-button>
        </div>
    </form>
</div>
<div class="container">
    <table id="table" data-toggle="table" data-show-refresh="true" data-height="460" data-url="/api/v1/files"
        data-search="true" data-side-pagination="server" data-pagination="true">
        <thead>
            <tr>
                <th data-field="name">Name</th>
                <th data-field="size">Size</th>
            </tr>
        </thead>
    </table>
</div>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>

<script src='/public/js/index.js'></script>

{{end}}